/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #12022b; 
    color: #e0e0e0; 
}
.body3 {
    background-image: url('img/fundo4.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}



/* Cabeçalho e navegação */
header {
    background-color: #020049; 
    color: white;
    font-family: fantasy ;
    text-shadow: 3px 3px 0px #000;
}
header nav {
    display: flex;
    justify-content: center;
}
header nav ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
}
header nav ul li {
    margin: 0 40px;
    padding: 5px;
}
header nav ul li a {
    text-decoration: none;
    color: #fff9c7;
    font-size: 23px;
    transition: color 0.3s;
}
header nav ul li a:hover {
    color: #ffeb3b;
}
main {
    padding: 5px;
}
section {
    margin-bottom: 40px;
}



/*Página Iniccio */
/* Estilização para a seção de jogos mais vendidos */
.mais-vendidos, .consoles-vendidos {
    background: #2e1b5b; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
}
.mais-vendidos h2, .consoles-vendidos h2 {
    color: #ffeb3b; 
    margin-bottom: 20px;
    font-size: 60px;
    font-family: fantasy ;
    text-shadow: 3px 3px 0px #000;
}
.card {
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px #8e68e6;
    margin-bottom: 20px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card-body {
    text-align: center;
    background-color: #12022b; 
    
}
.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-family: fantasy ;
}
.card-text {
    font-size: 0.875rem;
    color: #fffdfd;

}
.card-price {
    font-size: 1rem;
    font-weight: bold;
    color: #6c757d;
    background-color: #020049;
    border-radius: 8px;
}
.carousel1 {
    width: 90vw; 
    height: 400px; 
    margin: 0 auto;
    padding: 50px;
}
.carousel-item img {
    width: 400px; 
    height: 300px; 
    object-fit: cover; 
}



/* Estilo para a página Sobre Nós */
main h1 {
    font-size: 60px;
    color: #ffeb3b;
    font-family: fantasy;
    text-align: center;
    text-shadow: 0 2px 5px #573f91;
    margin-bottom: 40px;
}
main .p1 {
    color: #fff9c7;
    font-size: 20px;
    font-family: fantasy;
    text-shadow: 0 2px 5px #573f91;
    line-height: 1.6;
}
.text {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-sobre {
    width: 48%; 
    background-color: #020049;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
}
.card-wallet {
    width: 48%; 
    background-color: #020049;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    display: block;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
}
.card-wallet .p2 {
    color: #fff9c7;
    font-size: 30px;
    font-family: fantasy;
    text-shadow: 0 2px 5px #573f91;
    line-height: 1.6;
    text-align: center;
}
.card-wallet a {
    font-family: fantasy ;
    background-color: #8e68e6;
    color: white ;
    position: relative;
    bottom: -20px;
    left: 150px;
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;
}
.img-sobre {
    width: 40%;
    height: auto;
    border-radius: 15%;
    margin-right: 20px;
}



/* página carteira*/
.intro {
    font-size: 35px;
    text-align: center;
    font-family: fantasy;
    text-shadow: 0 2px 5px #573f91;
}
table {
    width: 60%; 
    border-collapse: collapse;
    margin: 25px auto; 
}
table caption {
    caption-side: top; 
    font-size: 28px;
    color: #ffeb3b;
    margin-bottom: 10px; 
    text-shadow: 2px 2px 5px #000;
    text-align: center; 
    font-weight: bold;
}
th, td {
    padding: 12px;
    text-align: center; 

}
thead th {
    background-color: #1e1e1e; 
    color: #ffeb3b;
    text-align: center; 
}
tbody tr:nth-child(even) {
    background-color: #333;
}

tbody tr:nth-child(odd) {
    background-color: #444;
}
form {
    width: 60%; 
    margin: 25px auto; 
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #e0e0e0;
}
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
}
form button {
    background-color: #020049;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: block; 
    margin: 0 auto; 
}
form button:hover {
    background-color: #3f1577;
}
.lixeira-icone {
    width: 25px;
    height: 25px;
    cursor: pointer;
    object-fit: cover;
}
/* Estilo para a lista de produtos */
.lista-produto {
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
}



/* Seção de link para a página da carteira */
.link-carteira {
    text-align: center;
    padding: 2rem 0;
    
}
.link-carteira p {
    font-size: 45px;
    color:#ffeb3b;
    font-family: fantasy ;
    text-shadow: 3px 3px 0px #000;
}
.link-carteira a {
    font-family: fantasy ;
    background-color: #020049;
    color: white ;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.link-carteira a:hover {
    background-color: #3f1577;
}



/* Footer */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1px;
    bottom: 0;
    width: 100%;
}
