*{
    font-family: "League Spartan";
}
body{
    background-color: black;
}
.navbar{
    background-color: black !important;
}
.dropdown-menu{
    background-color: black;
    border: solid 2px;
}
.dropdown-item{
    color: #007bff;
    transition: color 0.3s ease-in-out;
}
.dropdown-item:hover{
    background-color: transparent;
    color: white;
}
.nav-link {
    color: white !important;
}