* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    /* padding-bottom: 10px; */
    padding-left: 5px;
    padding-bottom: 5px;
    border: none;
    text-decoration: none;
    
    outline: none;
}

input::placeholder{
    padding: 3px;
    /* padding-left: 50px; */
    border-bottom: 2px black solid;
}

input:focus{
    /* background-color: bisque; */
    border-left: 3px red solid;
    /* border-width: 1px; */
    border-width: 1px 3px 1px 3px;

}

button{
    padding: 5px;
    width: 30%;
    font-size: 13px;
}

/* button:: */

body{
    display: flex;
    background-color: rgb(196, 196, 196);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(131, 131, 131);
    padding: 20px;
    height: 400px;
    width: 60%;
    gap: 200px;
    z-index: 2;

    /* position: relative; */
}

.camp1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* color: white; */
    padding: 20px;
    /* height: 400px; */
    width: 50%;
    /* gap: 300px; */
    /* z-index: 2; */

    position: relative;

    transition: transform 0.6s;
}

.singCamp{
    /* background-color: white; */
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;

    position: absolute;
    z-index: 1;

    /* filter: blur(8px); */


    
}


.msg{
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    width: 350px;
    height: 360px;
    /* background-color: hsla(0, 0%, 0%, 0); */
    background-color: rgb(255, 255, 255);
    
    z-index: 2;
    /* display: none; */

    /* transition: transform 0.5s, opacity 0.5s; */
  
}



.itenSelected{
    /* color: red; */
    /* background-color: rgb(255, 255, 255); */
    transform: scale(1.3);
    /* filter: blur(0px); */
}

.itenSelected div:nth-child(1){
    /* background-color: rgb(246, 246, 246); */
    display: none;
}

