/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden; /* Previne o overflow horizontal */

}
main{
    margin-bottom: 5%;
}
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #ffc107;
    font-size: 2.5rem;
    padding-top: 7.5%;
}

header p {
    color: #ccc;
    font-size: 1.2rem;
    padding-bottom: 2%;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden; /* Evita conteúdo extra dentro do formulário */
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    font-size: 1rem;
}

form button {
    background-color: #ffc107;
    color: #1e1e1e;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

form button:hover {
    background-color: #e69a00;
}

.order-summary {
    margin-top: 30px;
    margin-inline: auto; /* Centraliza o componente */
    max-width: 600px; /* Garante que não ultrapasse o limite do corpo */
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.order-summary h3 {
    color: #ffc107;
    margin-bottom: 10px;
}

.order-summary p {
    color: #ccc;
}
