/*___________________________________MENU e FOOTER___________________________________*/
.yellow {
  color: #ffb400;
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  min-width: 100vw;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1000;
}
.logo img {
  height: 50px;
  transition: transform 0.3s ease;
}
.logo img:hover {
  transform: scale(1.1);
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  transition: color 0.3s ease;
}
.nav-links li a:hover {
  color: #ffd700;
}
.contact-btn a {
  text-decoration: none;
  background: #ffd700;
  color: black;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
}
.contact-btn a:hover {
  background: #ffc107;
  transform: scale(1.1);
}
/*------------FOOTER------------*/

footer {
  background-color: #1e1e1e;
  color: white;
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid #333;
  min-height: 20vh;
  padding-top: 60px;
  min-width: 100vw;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}
.footer-links a:hover {
  color: #ffb400;
}
.footer-logo img {
  max-height: 80px;
  margin-bottom: 10px;
}
.footer-copyright {
  font-size: 0.9rem;
  color: #bbb;
  margin-top: 10px;
}
