@font-face {
    font-family: "Filia-Regular";
    src: url(../font/Filia-Regular.otf) format('opentype');
}
body{
    font-family: 'livvic', sans-serif;
    color: #7b22e0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#produtos{
    width: 100vw;
    height: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block: 25px;
}
#addprodutos{
    text-align: center;
    width: 500px;

}
fieldset{
    padding: 30px;
    border: 1px solid #7b22e0; 
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
legend{
    font-size: 25px;
    padding: 0 10px 0 10px;
    font-family: 'Filia-Regular';
    color: #7b22e0; 
}
input{
    height: 20px;
    width: 150px;
    margin-bottom: 1%;
    border: none;
    border-radius: 8px;
}
input:focus {
    border-color: transparent;
}
.alinharCampo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-block: 4px;
}
.alinharBotao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-block: 4px;
}
#btn_produto{
    cursor: pointer;
    width: 100px;
    height: 30px;
    padding: 1%;
    background-color: #7b22e0; 
    color:  #fff8f4;
    border: none;
    margin-top: 3%;
    border-radius: 10px;
}