
body{
    font-family: 'prata',serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.formulario {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h2 {
    color: #7b22e0; 
    font-size: 2em;
    margin-bottom: 10px;
}

input, textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"] {
    background-color:#7b22e0; 
    color: #fef4e4;
    font-weight:bold;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #2759ff;
}

@media (max-width: 768px) {
    .formulario{
        width: 100%;
        text-align: center;
        padding: 20px;
        
    }
    input, textarea{
        width: 100%;
    }
}