
.commentsSession{
    /* background-color: aquamarine; */
    /* width: 100%; */
    display: grid;
    gap: 10px;
    /* justify-content: center; */
    text-align: center;
}

.comments{
    background-color: azure;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.otherComment{
    font-size: 13px;
    text-align: start;
    
    height: 230px;
    width: 32.4%;
    background-color: rgb(207, 205, 201);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 10px; */

}