*{
    margin: 0;
    padding: 0;
    font-family: quicksand;
}
@font-face {
    font-family: quicksand;
    src: url(Quicksand_Book.otf);
}
body{
    font-family: quicksand;
    background: rgb(0,0,128);
    background: linear-gradient(90deg, rgba(0,0,128,1) 0%, rgba(0,0,32,1) 100%);
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3;
}
header a{
    text-decoration: none;
    font-family: quicksand;
    color: #FFFFFF;
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.navlist{
    list-style: none;
    display: flex;
}
.navlist li{
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobilemenu div{
    width: 32px;
    height: 2px;
    background: #FFFFFF;
    margin: 8px;
}
.mobilemenu{
    display: none;
    cursor: pointer;
}
/*Menu para telas com menos de 1000px de largura*/
@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .navlist {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgb(32,32,32);
        background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(6,6,6,1) 100%);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;                             
    }
    .navlist li{
        margin-left: 0;
    }
    .mobilemenu{
        display: block;
    }
}
.navlist.active {
    transform: translateX(0);
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
}
.texto h1{
    font-weight: normal;
    letter-spacing: 6px;
    font-size: 60px;
    margin-bottom: 3vh;
}
.container1 .texto{
    color: #FFFFFF;
}
.container1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}
.container1 img{
    height: 40%;
    width: 40%;
    margin-left: 5vw;
}
.container2{
    margin-left: 0;
    margin-right: 0;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    background: #00ffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset 0px 4px 15px 0px #008B8B;
}
.container2 img{
    height: 40%;
    width: 40%;
    margin-right: 5vw;
}
.container2 .texto{
    text-align: end;   
}
.container2 .texto p{
   font-size: 14px;
   letter-spacing: 2px;
}
.container3 .texto{
    color: #FFFFFF;
    margin-right: 5vw;
    max-width: 30vw;
}
.container3 .texto h1{
    font-size: 36px;
}
.container3 .texto p{
    font-size: 14px;
    letter-spacing: 2px;
}
.texto p{
    letter-spacing: 4px;
    font-size: 24px;
}
.carousel{
    height: 50vh;
    width: 60vw;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.carousel-inner img{
    height: 50vh;
    width: 60vw;
    border-radius: 5px;
}
.container3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;   
}
.sobre{
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
}
.sobre h1{
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 2vh;
    color: #FFFFFF;
}
.sobre p{
    text-indent: 18px;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 2px;
}
footer{
    background: rgb(32,32,32);
    background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(6,6,6,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #FFFFFF;
}
.sobre-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
form{
    color: #FFFFFF;
    width: 60vw;
    height: 50vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    letter-spacing: 3px;
}
.container4{
    margin-left: 0;
    margin-right: 0;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
}
.noticia{
    display: flex;
    align-items: center;
    background: #00035B;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);  
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    border-radius: 5px;
}
.noticia img{
    height: 100px;
    width: 100px;
    margin-right: 5vw;
}
.noticia h1{
    color: #FFFFFF;
}
.container4 a{
    text-decoration: none;
}
.noticias-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.imgnoticia{
    width: 50vw;
    height: 20vh;
    margin-bottom: 5vh;
}
.container5{
    padding-top: 10vh;
    align-items: center;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
    width: 70vw;
}
.titulonoticia{
    letter-spacing: 4px;
    margin-bottom: 5vh;
}
.textonoticia{
    text-align: left;
    max-width: fit-content;
    word-wrap: break-word;
    word-break: break-word;
}