
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: poppins;
    line-height: 1.6;
    color: red;
}
h1{
    color: white;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}
header h1 {
    float: left;
    margin-left: 0;
}
nav ul {
    list-style: none;
    float: right;
    margin-top: 10px;
}
nav ul li {
    display: inline;
    margin-left: 15px;
}
nav ul li a {
    color: red;
    text-decoration: none;
}
.main{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    justify-content: center;
}
.titulo{
    color: red;
    margin-bottom: 30px;
}
footer {
    background: #333;
    color: red;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@font-face{
    font-family: poppins;
    src: url('Poppins-Regular.ttf');
}

.mais {
    color: red;  
}

.imagem{
    margin-left: 300px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}
.catalogoredirect{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-family: poppins;
    border-style: none;
    background-color: red;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.main2{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
}
table, th, td{
    border: 1px solid #333;
}
th, td{
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
th{
    background-color: #fff;
}
tr{
    color: red;
    background-color: #fff;
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.cadastro{
    width: 500px;
}
.msg{
    color: red;
}