body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2e7e5; 
    color: #333; 
}


header {
    background-color: #f7d64e;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 48px;
    font-family: 'Comic Sans MS', cursive;
    color: white;
    margin: 0;
}


nav ul {
    display: flex;
    justify-content: center;
    background-color: #f7d64e; 
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.info {
    width: 45%;
}

.info h2 {
    font-size: 24px;
    color: #ffffff;
    background-color: #7ba39f; 
    padding: 10px;
}

.info p {
    font-size: 16px;
    color: #ffffff;
    background-color: #7ba39f;
    padding: 15px;
}

.icon-navbar {
    width: 90px;  
    height: auto;
    vertical-align: middle; 
}

.icon-navbar1 {
    width: 30px;  
    height: auto;
    vertical-align: middle; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  
    align-items: center;
}

nav ul li {
    margin-right: 20px; 
}

form {
    display: flex;
    flex-direction: column;  
    width: 100%;
    max-width: 500px;  
    margin: 0 auto;  
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 96%;  
}

form button {
    padding: 12px;
    background-color: #7ba39f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #33534f; 
}

.filhote-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filhote-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.filhote-card h3 {
    margin-top: 10px;
}

.filhote-card p {
    margin: 5px 0;
}

h1{
    color: #ffffff;
    font-family: 'Comic Sans MS', cursive ;
}

h3{
    color: #ffffff;
}


.texto {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .text {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }