* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.title-services {
  padding-top: 120px;
  text-align: center;
  font-size: 2.5rem;
  color: #ffb400;
}
.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
}
h1 {
  text-align: center;
  color: #ffb400;
}
.question {
  margin-bottom: 20px;
}
.question p {
  font-size: 1.1rem;
}
.options {
  display: flex;
  flex-direction: column;
}
.option {
  margin: 10px 0;
  padding: 10px;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.option:hover {
  background-color: #ffb400;
}
.button {
  background-color: #ffb400;
  color: #1a1a1a;
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #e69a00;
}
.result {
  display: none;
  text-align: center;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}
nav {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #ffb400;
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.content {
  flex: 1;
  padding: 20px;
}
.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffcc00;
}
p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
}
.section1 {
  height: 70vh;
  flex-direction: row;
}
.section2 {
  flex-direction: row-reverse;
  height: 80vh;
}
.section3 {
  flex-direction: row;
  height: 80vh;
}
.questions {
  background: linear-gradient(1deg, #121212, #d7ac00a3);
}
@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  .image img {
    width: 100%;
  }
}
