main {
    width: 100%;
    background-color: var(--bg-color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    height: calc(100dvh - 50px);
}

section {
    background-color: var(--bg-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}

article {
    text-align: center;
}

article > div > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    gap: 40px;
    color: var(--text-color);
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article > div > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 120px;
    border-radius: 10px;
    color: #fff;
    background-color: var(--primary-color);
}

article > div > div > div > h4 {
    font-size: 18px;
}

article > div > div > div > span {
    font-size: 32px;
    font-weight: bold;
}

.money-code {
    font-size: 20px;
    font-weight: bold;
}

.dashboard-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.dashboard-data > div {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    justify-content: start;
    gap: 10px;
}

#profit-graphic {
    height: 300px;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    background-color: transparent;
}

#profit-graphic > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    width: 100%;
}

table {
    color: var(--text-color);
    width: 90%;
}

tr {
    text-align: start;
}

thead {
    background-color: var(--thead-bg-color);
}

td, th {
    padding: 5px 10px;
}