body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav {
    justify-content: center;
    display: flex;
}

main {
    padding: 2em;
    padding-top: 4em; /* Adiciona espaço suficiente para o cabeçalho fixo */
}

form label {
    display: block;
    margin: 0.5em 0;
}

form input {
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
}

button {
    margin-left: 1em;
    padding: 0.5em;
}
