@font-face {
    font-family: 'koch';
    src: url(fonte/Koch\ Fraktur.ttf);
}

@font-face {
    font-family: 'bluffolk';
    src: url(fonte/Bluffolk.otf);
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: cor da página;
}

header {
    background-color: black;
    color: white;
    font-family: 'koch';
    font-size: 25px;
    text-align: center;
    height: 90px;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
}

nav {
    display: flex;
}

nav a {
    height: 40px;
    width: 30%;
    font-family: 'bluffolk';
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    /* background-color: cor dos botões; */
}

#centro {
    border: 2px solid black;
    border-radius: 10px;
}

#direita {
    border: 2px solid black;
    margin-left: auto;
    border-radius: 10px 0px 0px 10px;
}

#esquerda {
    border: 2px solid black;
    margin-right: auto;
    border-radius: 0px 10px 10px 0px;
}

a:hover {
    height: 50px;
    width: 35%;
}

h2 {
    font-family: 'bluffolk';
}
