.placeh{
margin-right: 20px;
text-align: center;
margin-left: 450px;
}
.imglogo{
height: 80px;
width: 80px;
border-style:ridge;
border-color: white;
border-radius: 3px;
}

.textnav{
text-align: center;
}

.leg{
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
}

body{
background-color: black;
}


.container{
border-style: solid;
text-align: center;
margin-top: 10px;
align-items: baseline;
}

.imgs{
padding: 10px;
border-style: solid;
margin: 10px;
}



a{
color: black;
}