/* Padrozinação dos elementos gerais do código */
* {
    font-family: "Gantari", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* ================================================== */
/* Header */
.header{
    background: rgb(34,34,133);
    background: linear-gradient(70deg, rgba(34,34,133,1) 0%, rgba(45,45,186,1) 50%, rgba(34,34,133,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    z-index: 999;
    position: fixed;
    box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.75);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-bottom: 2px solid #0202145e;
}

.header-logo{
    position: absolute;
    left: 2%;
    height: 100%;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 80%;
}

.header a{
    font-family: "Major Mono Display", monospace;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.header a:hover {
    color: rgb(81, 81, 248);
    box-shadow: rgba(81, 81, 248, 0.4) 0px 5px, rgba(81, 81, 248, 0.3) 0px 10px, rgba(81, 81, 248, 0.2) 0px 15px, rgba(81, 81, 248, 0.1) 0px 20px, rgba(81, 81, 248, 0.05) 0px 25px;
}

.title-font{
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}
/* ================================================== */
/* Footer */

footer{
    background-color: #222285;
    border-top: 10px solid #5151f8;
    width: 100% 100vw;
    height: 130px;
    box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.69), inset 0px 0px 32px -6px rgba(0,0,0,0.58);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d2d2d2;
    z-index: 777;
}
footer h1 {
    font-family: 'Times New Roman', Times, serif;
}

/* ================================================== */
/* Formatação dos Botões */
.btn-area{
    width: 275px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-default{
    background: #020214;
    border: none;
    padding: 10px 30px 10px 30px;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    font-size: 28px;
    transition: 0.4s;
}

    .btn-default:hover{
        padding: 15px 40px 15px 40px;
        background: rgb(201,201,201);
        background: linear-gradient(90deg, rgba(201,201,201,1) 0%, rgba(244,244,244,1) 33%, rgba(255,255,255,1) 50%, rgba(244,244,244,1) 66%, rgba(201,201,201,1) 100%);
        border: 3px solid #5151f8;
        color: #5151f8;
        transform: scale(1.1);
    }

    .btn-default:active{
        border: 2px solid #020214;
        color: #020214;
        transform: scale(0.9);
        background: rgb(201,201,201);
        background: linear-gradient(90deg, rgba(201,201,201,1) 0%, rgba(244,244,244,1) 33%, rgba(255,255,255,1) 50%, rgba(244,244,244,1) 66%, rgba(201,201,201,1) 100%);
        transition: 0.4s;
    }



.return-btn a{
    text-decoration: none;
    color: #020214;
    transition: 0.3s ease-in-out;
}

.return-btn a:hover{
    color: #5151f8;
    box-shadow: rgba(81, 81, 248, 0.4) 0px 5px, rgba(81, 81, 248, 0.3) 0px 10px, rgba(81, 81, 248, 0.2) 0px 15px, rgba(81, 81, 248, 0.1) 0px 20px, rgba(81, 81, 248, 0.05) 0px 25px;
}

/* ================================================== */
/* Cores */
.Preto{color: #020214}
.Azul{color: #5151f8}
.AzulEscuro{color: #222285}
.AzulClaro{color: #B3B3FF}
.Branco{color: #f8f8ff}