main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    height: 70vh;
    padding: 2rem 4rem;
}

.profile-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    width: 250px;
    margin-top: 2rem;
    padding: 2rem 1rem;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    text-decoration: none;
}

.profile-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    margin-top: 2rem;
    width: calc(100% - 250px);
    padding: 1rem 2rem;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    text-decoration: none;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

input {
    padding: .5rem 1rem;
    border-radius: 7.5px;
    border: 1px solid #ccc;
}

button {
    padding: .5rem 1rem;
    border-radius: 7.5px;
    border: 1px solid #ccc;
    background-color: #2B4BFF;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.order-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    overflow-y: scroll;
}

.order-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    height: 125px;
    text-decoration: none;
    background-color: white;
}

.order-card img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
}

.order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    margin-bottom: 0;
    width: calc(100% - 100px);
}

.order-info h4 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Breathing';
}

.order-info * {
    margin: 0;
    padding: 0;
}